body {
    background: lightgray;
}
#wrapper {
    display: grid;
    width: 90%;
    height: 1000px;
    padding: 3px;
    margin: 0 auto;
    grid-template-columns: 200px 10px 1fr 1fr 10px;
    grid-template-rows: 40px 10px 1fr 1fr 10px;
}
#table-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
form {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-start: span 5;
    background: lightsteelblue;
    float: left;
}
header {
    font-size: 30px;
    padding-bottom: 2px;
    color:honeydew;
    background:rgb(80, 139, 206);
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
table {
    background: white;
    border-collapse: collapse;
}
td:first-child {
    background: black;
    color: white;
    border: 1px solid white;
}
tr:first-child {
    background: black;
    color: white;
}
td, tr {
    border: 1px solid black;
}